.news {
    background-color: black;
    height: 1550px;
    width: 1050px;
    grid-template-columns: repeat(2, 540px);
    grid-template-rows: repeat(2,100px);
}

.news_info {
    background-color: white;
    margin: 20px;
}

.pre_news_info {
    grid-column: 1/3;
}