.note {
   /* background-color: darkblue;*/
    height: 996px;
    width: 1140px;
    grid-template-columns: repeat(3, 350px);
}

.note_block {
    background-color: white;
}

.note_block p {
    font-family: "Raleway", sans-serif;
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    display: block;
    margin: 7px;
}

.note_block b {
    font-weight: bolder;
}

.note_block img {
    vertical-align: middle;
    border-style: none;
    height: auto;
    max-width: 100%;
}

.pre_note_block {
    grid-column: 1/4;
}
.down_note_block {
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border-radius: 0 0 6px 6px;
}