.Header {
    display: grid;
    background-color: white;
    grid-template-columns: 500px auto 470px;
    height: 80px;
    grid-column: 3/4;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.Header > div {
    padding: 1em;
}
.nav-brand{
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.classy-menu {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

