.Partners {
    /*background-color: aquamarine;*/
    height: 977px;
    width: 1140px;
    grid-template-columns: repeat(3, 350px);
}

.Partners_info_block {
    background-color: #ffffff;
}
.Partners_info_block p {
    font-family: "Raleway", sans-serif;
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

.Partners_info_block h4{
    font-size: 1.5rem;
    margin: 0;
}

.pre_partners_info_block {
    grid-column: 1/4;
}

.Partners_info_block img {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.under_the_image {
    padding: 25px;
}