.news {
   /* background-color: chartreuse;*/
    height: 1550px;
    width: 1140px;
    grid-template-columns: repeat(2, 540px);
    grid-row-gap: 30px;
    grid-template-rows: repeat(2, 0.1fr);

}

.news_info {
    background-color: white;
    padding: 25px;
    visibility: visible;
    animation-delay: 700ms;
    animation-name: fadeInUp;
}
.news_info h4{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.3;
    font-weight: 700;
    margin: 0;
}

.news_info p{
    font-family: "Raleway", sans-serif;
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    margin-top: 0;
}

.news_info img{
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.pre_news_info {
    grid-column: 1/3;
    height: 80px;
}