.down_header {
    background-image: url("bgnew1.jpg");
    height: 400px;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.down_header_text {
    width: 1140px;
    height: 183px;
    margin: 0 auto;
}

.down_header_text h2 {
    display: block;
    height: 153px;
    width: 1010px;
    color: #ffffff;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}



