.Partners {
    background-color: aquamarine;
    height: 977px;
    width: 1140px;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 1em;
}

.Partners_info_block {
    background-color: white;
}
.Partners_info_block p {
    font-family: "Raleway", sans-serif;
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

.pre_partners_info_block {
    grid-column: 1/4;
    color: white;
    text-align: center;
}

.pre_partners_info_block h3 {
    font-size: 30px;
    margin: 0;
}

.Partners_info_block img {
    margin: 0;
    padding: 0;
}

.under_the_image {
    padding: 25px;
}