.news {
    background-color: black;
    height: 1550px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2,300px);

}

.news_block_info {
    background-color: white;
    height: 200px;
    margin: 20px;
}
