.upcoming_events {
    background-color: darkblue;
    height: 1000px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
}

.upcoming_events_block {
    background-color: white;
    height: 500px;
}

