.com_con {
    background-color: darkviolet;
    height: 600px;
    width: 1050px;
    grid-template-columns: repeat(2, 400px);
}

.com_con_info {
    background-color: white;
    margin: 20px;
}

.pre_com_con_info {
    grid-column: 1/3;
    color: white;
    text-align: center;
}
