.Main {
    font-family: "Open Sans", sans-serif;
}

.common_block {
    margin: 90px auto;
    display: grid;
    justify-content: center;
    grid-template-rows: 100px auto;
}

.indoor_block {
    align-self: start;
    visibility: visible;
    position: relative;
    z-index: 1;
    animation-delay: 250ms;
    border-radius: 6px;
    border: 1px solid #ebebeb;
}

